.coffee-container{
    display: flex;
     justify-content: space-evenly; 
     flex-direction: row;
     /* flex-wrap: wrap; */
}

@media screen and (max-width: 1200px) {
    .coffee-container{
          flex-direction: column;
         justify-content: center;
         align-items: center;
         /* margin: 0 50px; */
    }
}